node_modules/
lib/
.firebase/
.runtimeconfig.json
*.log
functions/lib/
functions/node_modules/
functions/.env
functions/.env.*
!functions/.env.example

# managed
**.data.json
**.node-persist**
**_IGNORE_**
# end managed
