openapi: 3.0.0
info:
  title: USA All Benefits Group Backend API
  description: |
    Backend REST para registro de usuarios, pagos Stripe, cursos, notificaciones WhatsApp,
    recomendaciones, catálogo de servicios y gestión de servicios contratados por clientes.
    Auth propio con JWT. Ejecutado en AWS EC2.
  version: 2.0.0
  contact:
    name: USA All Benefits Group

servers:
  - url: http://ec2-18-226-62-129.us-east-2.compute.amazonaws.com:3000
    description: Servidor AWS EC2 (produccion)
  - url: http://localhost:3000
    description: Servidor local (Express)

paths:
  /:
    get:
      summary: Health check
      description: Verifica que el servidor este corriendo.
      tags:
        - System
      responses:
        "200":
          description: Servidor OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  service:
                    type: string
                    example: "usa-app-backend"

  /api/auth/register:
    post:
      summary: Registrar un nuevo usuario
      description: |
        Crea una cuenta con email, password, nombre, telefono y rol.
        Roles validos: `client`, `customer`, `student`, `seller`.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
                - role
              properties:
                name:
                  type: string
                  example: "Juan Perez"
                email:
                  type: string
                  format: email
                  example: "juan@example.com"
                password:
                  type: string
                  format: password
                  minLength: 6
                  example: "secreto123"
                phone:
                  type: string
                  nullable: true
                  example: "+13051234567"
                role:
                  type: string
                  enum:
                    - client
                    - customer
                    - student
                    - seller
                  example: "client"
      responses:
        "201":
          description: Usuario creado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  uid:
                    type: string
                  token:
                    type: string
                  user:
                    type: object
                    properties:
                      uid:
                        type: string
                      name:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
                        nullable: true
                      role:
                        type: string
        "400":
          description: Datos invalidos
        "409":
          description: El email ya esta registrado

  /api/auth/login:
    post:
      summary: Iniciar sesion
      description: Autentica con email y password y devuelve un JWT.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: "juan@example.com"
                password:
                  type: string
                  format: password
                  example: "secreto123"
      responses:
        "200":
          description: Login exitoso
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  token:
                    type: string
                  user:
                    type: object
                    properties:
                      uid:
                        type: string
                      name:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
                        nullable: true
                      role:
                        type: string
        "401":
          description: Credenciales invalidas

  /api/auth/admin/login:
    post:
      summary: Login de administrador
      description: Login con credenciales hardcoded (admin/admin).
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                  example: "admin"
                password:
                  type: string
                  example: "admin"
      responses:
        "200":
          description: Login exitoso
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  token:
                    type: string
                  user:
                    type: object
                    properties:
                      uid:
                        type: string
                      name:
                        type: string
                      email:
                        type: string
                      role:
                        type: string
        "401":
          description: Credenciales invalidas

  /api/auth/logout:
    post:
      summary: Cerrar sesion
      description: Revoca el token JWT enviado en el header.
      tags:
        - Auth
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Sesion cerrada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  message:
                    type: string
        "401":
          description: No autenticado

  /api/auth/me:
    get:
      summary: Obtener perfil del usuario autenticado
      description: Devuelve los datos del usuario segun el token JWT enviado.
      tags:
        - Auth
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Perfil del usuario
          content:
            application/json:
              schema:
                type: object
                properties:
                  uid:
                    type: string
                  name:
                    type: string
                  email:
                    type: string
                  phone:
                    type: string
                    nullable: true
                  role:
                    type: string
        "401":
          description: No autenticado
        "404":
          description: Usuario no encontrado

  /api/recommendations:
    get:
      summary: Obtener recomendaciones publicas
      description: Devuelve recomendaciones rotativas (tips/planes).
      tags:
        - Recommendations
      responses:
        "200":
          description: Lista de recomendaciones
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      recommendations:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            subtitle:
                              type: string
                            type:
                              type: string
                            imageUrl:
                              type: string
                              nullable: true
                            color:
                              type: string
                              nullable: true
                            icon:
                              type: string
                              nullable: true
                            ctaLabel:
                              type: string
                              nullable: true
                            ctaLink:
                              type: string
                              nullable: true
                      activeIndex:
                        type: integer
                      total:
                        type: integer
                      updatedAt:
                        type: string

  /api/admin/users:
    get:
      summary: Listar todos los usuarios (admin)
      description: |
        Devuelve todos los usuarios registrados. Puede filtrarse por rol usando query param.
        Requiere rol `seller` o `admin`.
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: role
          required: false
          schema:
            type: string
            enum: [client, customer, student, seller]
          description: Filtrar usuarios por rol
      responses:
        "200":
          description: Lista de usuarios
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        uid:
                          type: string
                        name:
                          type: string
                        email:
                          type: string
                        phone:
                          type: string
                          nullable: true
                        role:
                          type: string
                        createdAt:
                          type: string
                          nullable: true
                        updatedAt:
                          type: string
                          nullable: true
                  total:
                    type: integer
        "400":
          description: Rol invalido
        "401":
          description: No autenticado
        "403":
          description: Sin permisos
    post:
      summary: Crear un usuario (admin)
      description: |
        Crea un nuevo usuario (cliente, estudiante, vendedor, etc.) desde el panel de admin.
        Requiere rol `seller` o `admin`.
      tags:
        - Users
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
                - role
              properties:
                name:
                  type: string
                  example: "Juan Perez"
                email:
                  type: string
                  format: email
                  example: "juan@example.com"
                password:
                  type: string
                  format: password
                  minLength: 6
                  example: "secreto123"
                phone:
                  type: string
                  nullable: true
                  example: "+13051234567"
                role:
                  type: string
                  enum:
                    - client
                    - customer
                    - student
                    - seller
                  example: "client"
      responses:
        "201":
          description: Usuario creado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  user:
                    type: object
                    properties:
                      uid:
                        type: string
                      name:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
                        nullable: true
                      role:
                        type: string
        "400":
          description: Datos invalidos
        "401":
          description: No autenticado
        "403":
          description: Sin permisos
        "409":
          description: El email ya esta registrado

  /api/admin/users/{id}:
    get:
      summary: Obtener un usuario con sus servicios (admin)
      description: |
        Devuelve el perfil de un usuario y todos los servicios asignados.
        Si el usuario no tiene servicios, devuelve `services: []` y `message: "User has 0 services assigned"`.
        Requiere rol `seller` o `admin`.
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: UID del usuario
      responses:
        "200":
          description: Perfil del usuario con servicios
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  user:
                    type: object
                    properties:
                      uid:
                        type: string
                      name:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
                        nullable: true
                      role:
                        type: string
                  services:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        serviceName:
                          type: string
                        serviceType:
                          type: string
                          nullable: true
                        policyNumber:
                          type: string
                          nullable: true
                        contractDate:
                          type: string
                          nullable: true
                        expiryDate:
                          type: string
                          nullable: true
                        status:
                          type: string
                        coverageAmount:
                          type: number
                          nullable: true
                        premiumAmount:
                          type: number
                          nullable: true
                        currency:
                          type: string
                          nullable: true
                        notes:
                          type: string
                          nullable: true
                        beneficiaryName:
                          type: string
                          nullable: true
                        beneficiaryPhone:
                          type: string
                          nullable: true
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                  totalServices:
                    type: integer
                  message:
                    type: string
        "401":
          description: No autenticado
        "403":
          description: Sin permisos
        "404":
          description: Usuario no encontrado
    delete:
      summary: Eliminar un usuario (admin)
      description: |
        Elimina permanentemente un usuario por su UID.
        Requiere rol `seller` o `admin`.
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: UID del usuario a eliminar
      responses:
        "200":
          description: Usuario eliminado
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  id:
                    type: string
        "400":
          description: ID requerido
        "401":
          description: No autenticado
        "403":
          description: Sin permisos
        "404":
          description: Usuario no encontrado

  /api/users/{id}:
    get:
      summary: Obtener perfil publico de un usuario con sus servicios
      description: |
        Devuelve el perfil de un usuario y todos los servicios asignados.
        Cualquier usuario autenticado puede consultar.
        Si no tiene servicios, devuelve `services: []` y `message: "User has 0 services assigned"`.
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: UID del usuario
      responses:
        "200":
          description: Perfil del usuario con servicios
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  user:
                    type: object
                    properties:
                      uid:
                        type: string
                      name:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
                        nullable: true
                      role:
                        type: string
                  services:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        serviceName:
                          type: string
                        serviceType:
                          type: string
                          nullable: true
                        policyNumber:
                          type: string
                          nullable: true
                        contractDate:
                          type: string
                          nullable: true
                        expiryDate:
                          type: string
                          nullable: true
                        status:
                          type: string
                        coverageAmount:
                          type: number
                          nullable: true
                        premiumAmount:
                          type: number
                          nullable: true
                        currency:
                          type: string
                          nullable: true
                        notes:
                          type: string
                          nullable: true
                        beneficiaryName:
                          type: string
                          nullable: true
                        beneficiaryPhone:
                          type: string
                          nullable: true
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                  totalServices:
                    type: integer
                  message:
                    type: string
        "401":
          description: No autenticado
        "404":
          description: Usuario no encontrado

  /api/admin/recommendations:
    get:
      summary: Listar todas las recomendaciones (admin)
      description: Devuelve todas las recomendaciones para gestion.
      tags:
        - Recommendations
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Lista completa
        "401":
          description: No autenticado
        "403":
          description: Sin permisos
    post:
      summary: Crear recomendacion (admin)
      description: Crea una nueva recomendacion. Se puede subir imagen como multipart/form-data o base64.
      tags:
        - Recommendations
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                subtitle:
                  type: string
                type:
                  type: string
                  enum: [instagram, youtube, general]
                externalUrl:
                  type: string
                imageUrl:
                  type: string
                color:
                  type: string
                icon:
                  type: string
                ctaLabel:
                  type: string
                ctaLink:
                  type: string
                active:
                  type: string
                  example: "true"
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Recomendacion creada
        "401":
          description: No autenticado
        "403":
          description: Sin permisos

  /api/admin/recommendations/{id}:
    put:
      summary: Actualizar recomendacion (admin)
      tags:
        - Recommendations
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
      responses:
        "200":
          description: Recomendacion actualizada
        "404":
          description: No encontrada
    delete:
      summary: Eliminar recomendacion (admin)
      tags:
        - Recommendations
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Eliminada
        "404":
          description: No encontrada

  /api/admin/recommendations/reorder:
    put:
      summary: Reordenar recomendaciones (admin)
      tags:
        - Recommendations
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      order:
                        type: integer
      responses:
        "200":
          description: Orden actualizado

  /api/service-catalog:
    get:
      summary: Listar servicios disponibles (publico)
      description: Devuelve el catalogo de productos/planes que la empresa ofrece.
      tags:
        - Service Catalog
      responses:
        "200":
          description: Catalogo de servicios
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  catalog:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        type:
                          type: string
                          nullable: true
                        description:
                          type: string
                          nullable: true
                        active:
                          type: boolean

  /api/admin/service-catalog:
    get:
      summary: Listar todo el catalogo (admin)
      description: Incluye activos e inactivos.
      tags:
        - Service Catalog
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Catalogo completo
        "401":
          description: No autenticado
        "403":
          description: Sin permisos
    post:
      summary: Crear item en catalogo (admin)
      description: Agrega un nuevo tipo de servicio/producto al catalogo.
      tags:
        - Service Catalog
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  example: "Seguro Dental Individual"
                type:
                  type: string
                  example: "Dental"
                description:
                  type: string
                  example: "Cobertura dental completa"
                active:
                  type: boolean
                  default: true
      responses:
        "201":
          description: Item creado
        "400":
          description: Datos invalidos
        "401":
          description: No autenticado
        "403":
          description: Sin permisos

  /api/admin/service-catalog/{id}:
    put:
      summary: Actualizar item de catalogo (admin)
      tags:
        - Service Catalog
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                type:
                  type: string
                description:
                  type: string
                active:
                  type: boolean
      responses:
        "200":
          description: Item actualizado
        "404":
          description: No encontrado
    delete:
      summary: Eliminar item de catalogo (admin)
      tags:
        - Service Catalog
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Eliminado
        "404":
          description: No encontrado

  /api/my-services:
    get:
      summary: Ver mis servicios contratados (cliente)
      description: Devuelve todos los servicios asignados al usuario autenticado. Busca por uid y fallback por email.
      tags:
        - Client Services
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Lista de servicios del cliente
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  services:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        serviceName:
                          type: string
                        serviceType:
                          type: string
                          nullable: true
                        policyNumber:
                          type: string
                          nullable: true
                        contractDate:
                          type: string
                          nullable: true
                        expiryDate:
                          type: string
                          nullable: true
                        status:
                          type: string
                          enum: [active, expired, cancelled, pending]
                        coverageAmount:
                          type: number
                          nullable: true
                        premiumAmount:
                          type: number
                          nullable: true
                        currency:
                          type: string
                          nullable: true
                        notes:
                          type: string
                          nullable: true
                        beneficiaryName:
                          type: string
                          nullable: true
                        beneficiaryPhone:
                          type: string
                          nullable: true
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
        "401":
          description: No autenticado

  /api/admin/services:
    get:
      summary: Listar todos los servicios contratados (admin)
      description: Devuelve todos los servicios de todos los clientes.
      tags:
        - Client Services
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Lista completa
        "401":
          description: No autenticado
        "403":
          description: Sin permisos
    post:
      summary: Crear servicio para un cliente (admin)
      description: |
        Asigna un servicio individual a un cliente con datos completamente personalizados
        (numero de poliza, fechas, precio, beneficiarios, etc.).
      tags:
        - Client Services
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - serviceName
                - contractDate
              properties:
                userId:
                  type: string
                  description: UID del cliente
                  example: "abc123"
                userEmail:
                  type: string
                  format: email
                  nullable: true
                  example: "cliente@example.com"
                serviceName:
                  type: string
                  description: Nombre del servicio (puede ser del catalogo o personalizado)
                  example: "Indexed Universal Life (IUL)"
                serviceType:
                  type: string
                  nullable: true
                  example: "IUL"
                policyNumber:
                  type: string
                  nullable: true
                  example: "POL-IUL-2024-001"
                contractDate:
                  type: string
                  format: date
                  example: "2024-01-15"
                expiryDate:
                  type: string
                  format: date
                  nullable: true
                  example: "2034-01-15"
                status:
                  type: string
                  enum: [active, expired, cancelled, pending]
                  default: "active"
                coverageAmount:
                  type: number
                  nullable: true
                  example: 500000
                premiumAmount:
                  type: number
                  nullable: true
                  example: 25000
                currency:
                  type: string
                  nullable: true
                  example: "USD"
                notes:
                  type: string
                  nullable: true
                  example: "Cliente legacy importado"
                beneficiaryName:
                  type: string
                  nullable: true
                  example: "Maria Garcia"
                beneficiaryPhone:
                  type: string
                  nullable: true
                  example: "+1234567890"
                catalogItemId:
                  type: string
                  nullable: true
                  description: ID del item del catalogo asociado
      responses:
        "201":
          description: Servicio creado
        "400":
          description: Datos invalidos
        "401":
          description: No autenticado
        "403":
          description: Sin permisos

  /api/admin/services/{id}:
    put:
      summary: Actualizar servicio de cliente (admin)
      description: Edita cualquier campo de un servicio ya asignado.
      tags:
        - Client Services
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Servicio actualizado
        "401":
          description: No autenticado
        "403":
          description: Sin permisos
        "404":
          description: No encontrado
    delete:
      summary: Eliminar servicio de cliente (admin)
      tags:
        - Client Services
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Eliminado
        "401":
          description: No autenticado
        "403":
          description: Sin permisos
        "404":
          description: No encontrado

  /api/admin/services/bulk:
    post:
      summary: Importar servicios masivamente (admin)
      description: Recibe un array de servicios y los crea todos de una vez.
      tags:
        - Client Services
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: object
                    required:
                      - userId
                      - serviceName
                      - contractDate
                    properties:
                      userId:
                        type: string
                      userEmail:
                        type: string
                        nullable: true
                      serviceName:
                        type: string
                      serviceType:
                        type: string
                        nullable: true
                      policyNumber:
                        type: string
                        nullable: true
                      contractDate:
                        type: string
                      expiryDate:
                        type: string
                        nullable: true
                      status:
                        type: string
                        enum: [active, expired, cancelled, pending]
                      coverageAmount:
                        type: number
                        nullable: true
                      premiumAmount:
                        type: number
                        nullable: true
                      currency:
                        type: string
                        nullable: true
                      notes:
                        type: string
                        nullable: true
                      beneficiaryName:
                        type: string
                        nullable: true
                      beneficiaryPhone:
                        type: string
                        nullable: true
      responses:
        "201":
          description: Importacion completada
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  imported:
                    type: integer
                  failed:
                    type: integer
                  ids:
                    type: array
                    items:
                      type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                        reason:
                          type: string
        "401":
          description: No autenticado
        "403":
          description: Sin permisos

  /api/sellers/{id}/qr:
    get:
      summary: Generar codigo QR para un vendedor
      description: |
        Genera un codigo QR en formato base64 PNG que apunta al perfil publico del vendedor.
        Cualquier usuario puede acceder (no requiere autenticacion).
      tags:
        - Sellers
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: UID del vendedor
      responses:
        "200":
          description: QR generado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  qrCode:
                    type: string
                    description: Imagen QR en formato base64 PNG (data URL)
                  url:
                    type: string
                    description: URL publica del perfil del vendedor
        "403":
          description: El usuario no es un vendedor
        "404":
          description: Vendedor no encontrado

  /api/public/sellers/{id}:
    get:
      summary: Obtener perfil publico de un vendedor
      description: |
        Devuelve los datos publicos de un vendedor (nombre, cargo, descripcion, etc.).
        Cualquier usuario puede acceder (no requiere autenticacion).
      tags:
        - Sellers
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: UID del vendedor
      responses:
        "200":
          description: Perfil del vendedor
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  seller:
                    type: object
                    properties:
                      nombre:
                        type: string
                        nullable: true
                      cargo:
                        type: string
                        nullable: true
                      descripcion:
                        type: string
                        nullable: true
                      ubicacion:
                        type: string
                        nullable: true
                      calificacion:
                        type: number
                        nullable: true
                      especialidades:
                        type: array
                        items:
                          type: string
                      telefono:
                        type: string
                        nullable: true
                      correo:
                        type: string
                        nullable: true
        "404":
          description: Vendedor no encontrado

  /api/requestProductInfo:
    post:
      summary: Solicitar informacion de producto
      description: |
        Crea un lead y genera enlace de WhatsApp para contactar al vendedor.
        No requiere autenticacion, pero si se envia un token se asocia al lead.
      tags:
        - Leads
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - productId
                - productName
                - phoneNumber
                - customerName
              properties:
                productId:
                  type: string
                  example: "prod_001"
                productName:
                  type: string
                  example: "Curso de Seguros"
                phoneNumber:
                  type: string
                  example: "+13051234567"
                customerName:
                  type: string
                  example: "Juan Perez"
                customerEmail:
                  type: string
                  nullable: true
                  example: "juan@example.com"
      responses:
        "200":
          description: Lead creado
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      ok:
                        type: boolean
                      leadId:
                        type: string
                      message:
                        type: string
        "400":
          description: Datos invalidos

  /api/sendWhatsappNotification:
    post:
      summary: Enviar notificacion por WhatsApp
      description: Envia un mensaje de WhatsApp a un numero especifico.
      tags:
        - Notifications
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phoneNumber
                - message
              properties:
                phoneNumber:
                  type: string
                  example: "+13051234567"
                message:
                  type: string
                  example: "Hola, tu pago fue confirmado."
      responses:
        "200":
          description: Mensaje enviado
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      ok:
                        type: boolean
                      message:
                        type: string
        "401":
          description: No autenticado
        "400":
          description: Numero o mensaje invalido

  /stripeWebhook:
    post:
      summary: Webhook de Stripe
      description: |
        Recibe eventos de Stripe para confirmar pagos, fallos y reembolsos.
        **No usar desde el frontend.** Stripe llama a este endpoint directamente.
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Evento procesado
        "400":
          description: Firma invalida
        "405":
          description: Metodo no permitido

  /docs:
    get:
      summary: Documentacion Swagger UI
      description: Interfaz web para explorar la API.
      tags:
        - System
      responses:
        "200":
          description: Pagina HTML con Swagger UI

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Token JWT obtenido en /api/auth/login o /api/auth/register
